.card-container {
    max-width: 80%; 
    margin: 0 auto; 
    padding: 2.5rem; 
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 
  }
  .inner-content {
    max-width: 100%; 
    padding: 1.5rem; 
    box-shadow: 2px; 
    background: none; 
  }